.watchlist {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    height: auto;
    padding-top: 3rem;
    
    .Table {
        height: auto;
    }
}