@import "../../index.scss";

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  gap: 2rem;

  @include md {
    width: 70%;
    margin: 0 auto;
  }

  nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 18px;
    gap: 0.8rem;
    font-weight: bold;

    a {
      display: flex;
      align-items: center;
      justify-content: start;
      gap: 1rem;
      background-color: white;
      padding: 0.56rem 1rem;
      border-radius: 14px;
      min-width: 180px;
      background-color: $light-green;
      cursor: pointer;
      text-decoration: none;
      color: black;

      svg {
        font-size: 20px;
        color: rgb(2, 168, 2);
      }
    }
  }
}
