@import "../index.scss";

.loading {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 90%;
  height: 400px;
  padding-top: 2rem;

  @include md {
    width: 70%;
    margin: 0 auto;
  }

  .spinner {
    height: 80px;
    width: 80px;
    border: 6px solid rgb(7, 151, 177);
    border-color: rgb(7, 151, 177) transparent rgb(7, 151, 177) transparent;
    border-radius: 50%;
    animation: spin 1.3s linear infinite;

    @keyframes spin {
      to {
        transform: rotate(360deg);
      }
    }
  }
}
