@import "../../index.scss";

.search {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
  gap: 1rem;

  @include md {
    width: 50%;
    margin: 0 auto;
  }

  .search-table {
    height: auto !important;
  }

  input {
    width: 320px;
    height: 45px;
    font-size: 18px;
    padding: 6px 6px;
    outline: none;
    border: none;
    border-radius: 8px;
    margin-top: 4rem;
    border: 2px solid transparent;
    transition: 0.5s ease;

    @include md {
      width: 400px;
    }
  }
  input:focus {
    border: 2px solid rgba(86, 189, 86, 0.408);
    transition: 0.5s ease;
  }
}
